
.jumbotron
  .display-4
    What do you want to learn today?

  .p-4

  .form-inline.my-2.my-lg-0.main-form
    = form_tag(root_path, method: :get) do
      .input-group
        = text_field_tag :name, params[:name], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}